{% include header.html %}

<section>
  <h1>{{ page.title }}</h1>
  {{ content }}
</section>
<aside>
  <ul id="nav-secondary">
    <li><a href="{{ site.baseurl }}/documentation/getting-started/">Getting Started</a>
      <ul>
        <li><a href="{{ site.baseurl }}/documentation/getting-started/rails.html">Rails installation</a></li>
        <li><a href="{{ site.baseurl }}/documentation/getting-started/sinatra.html">Sinatra installation</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/documentation/documents/">Documents</a>
      <ul>
        <li><a href="{{ site.baseurl }}/documentation/documents/document.html">Document</a></li>
        <li><a href="{{ site.baseurl }}/documentation/documents/embedded-document.html">Embedded Document</a></li>
        <li><a href="{{ site.baseurl }}/documentation/documents/types.html">Types</a></li>
      </ul>
    <li><a href="{{ site.baseurl }}/documentation/plugins/">Plugins</a>
      <ul>
        <li><a href="{{ site.baseurl }}/documentation/plugins/associations.html">Associations</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/accessible.html">Accessible</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/callbacks.html">Callbacks</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/dirty.html">Dirty</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/keys.html">Keys</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/modifiers.html">Modifiers</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/protected.html">Protected</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/scopes.html">Scopes</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/serialization.html">Serialization</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/single-collection-inheritance.html">Single Collection Inheritance</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/timestamps.html">Timestamps</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/userstamps.html">Userstamps</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/validations.html">Validations</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/documentation/plugins/querying.html">Querying</a>
      <ul>
        <li><a href="{{ site.baseurl }}/documentation/plugins/dynamic-querying.html">Dynamic Querying</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/identity-map.html">Identity Map</a></li>
        <li><a href="{{ site.baseurl }}/documentation/plugins/indexes.html">Indexes</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/documentation/exceptions.html">Exceptions</a></li>
    <li><a href="{{ site.baseurl }}/documentation/contributing.html">Contributing</a></li>
  </ul>
</aside>

{% include footer.html %}
